.creations{
    width: 100vw;
    height: calc(100vh - 80px);
    min-height: 820px;
    /* max-height: calc(100vh - 108px); */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* overflow-y: scroll; */
}
.creations::-webkit-scrollbar{
    display: none;
}
.creations .creation_1{
    width: 100%;
    padding: 0;
    display: flex;
    height: 100%;
    /* overflow-y: hidden; */
}
.creations .creation_1 .descr{
    width: 80%;
    margin: 32px 32px 0 32px;
}
.creations .creation_1 .descr .title{
    margin: 0;
    font-weight: 700;
    font-size: 55px;
}
.creations .creation_1 .descr .top_text{
    margin-top: 25px;
    font-size: 20px;
}
.creations .creation_1 .descr .top_text .key_word{
    font-weight: 700;
}
.creations .creation_1 .descr .img_text{
    display: block;
    position: relative;
    display: flex;
    align-items: center;
}
.creations .creation_1 .descr .img_text_list{
    width: 30%;
}
.creations .creation_1 .descr .img_text_list p{
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
}
.creations .creation_1 .descr .img_text_list p:not(:last-child){
    margin-bottom: 15px;
}
.creations .creation_1 .descr video{
    width: 70%;
}

.creations .creation_1 .imgs{
    width: 20%;
    height: calc(100% - 28px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.creations .creation_1 .imgs .top{
    width: 95%;
}
.creations .creation_1 .imgs .middle{
    width: 100%;
}
.creations .creation_1 .imgs .bottom{
    width: 95%;
}

.creations .creation_2{
    width: 100%;
    height: 100%;
    position: relative;
}
.creations .creation_2 .title{
    font-weight: 700;
    font-size: 55px;
    margin: 50px 0 50px 32px
}
.creations .creation_2 .list{
    width: calc(100% - 64px);
    /* height: calc(100% - 64px - 50px - 50px - 50px) */
    height: calc(100% - 64px - 50px - 50px - 130px);
    padding: 0  32px;
    margin: 0;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.creations .creation_2 .list li{
    width: calc(50% - 32px);
    display: flex;
    align-items: center;
    align-content: center;
}
.creations .creation_2 .list li:nth-child(1),
.creations .creation_2 .list li:nth-child(3),
.creations .creation_2 .list li:nth-child(5){
    margin-right: 32px;
}

.creations .creation_2 .list li img{
    width: 100px;
    height: 100px
}
.creations .creation_2 .list li span{
    font-size: 25px;
    margin-left: 32px;
}

@media(max-width: 1900px){
    .creations{
        min-height: 800px;
    }
}
@media(max-width: 1800px){
    .creations{
        min-height: 780px;
    }
}
@media(max-width: 1700px){
    .creations{
        min-height: 750px;
    }
}
@media(max-width: 1600px){
    .creations{
        min-height: 750px;
    }
}
@media(max-width: 1500px){
    .creations{
        min-height: 590px;
    }
}
@media(max-width: 1400px){
    .creations{
        min-height: 630px;
    }
}
@media(max-width: 1500px){
    .creations .creation_1 .descr .title{
        font-size: 45px;
    }
    .creations .creation_1 .descr video{
        width: 50%;
    }
    .creations .creation_1 .descr .img_text_list{
        width: 50%;
    }
    .creations .creation_2 .title{
        font-size: 45px;
        margin: 30px 0 30px 32px
    }
    .creations .creation_2 .list li span{
        font-size: 24px;
    }
}