.callback{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 108px);
    padding: 0 32px;
    .left_block{
        // height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        .email-block{
            width: 50%;
            height: calc(100% - 188px);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            .title{
                font-weight: 700;
                font-size: 55px;
                margin-top: 0;
                margin-bottom: 12px;
            }
            .email{
                display: flex;
                align-items: center;
                color: black;
                font-size: 25px;
                margin-bottom: 12px;
                a{
                    color: black;
                    text-decoration: none;
                    margin-left: 8px;
                }
                &:focus{
                    color: black;
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    height: 19px;
                    margin-left: 32px;
                }
            }
            .connect{
                font-size: 25px;
            }
        }
    }
    .img-block{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        .right_img{
            width: 671px;
            height: 498px
        }
    }
}
.partners{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .partner_list{
        width: 50%;
        .title{
            width: 100%;
            font-size: 25px;
            color: #4d4d4d;
            font-weight: 400;
            margin: 0;
            margin-bottom: 10px;
        }
        .sfedu{
            width: 107px;
            height: 99px
        }
        .integra{
            width: 235px;
            height: 61px;
            margin-left: 32px;
        }
        .ictis{
            width: 161px;
            height: 71px;
            margin-left: 32px;
        }
    }
    .official_info{
        width: 50%;
        height: 142px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        .title{
            width: 100%;
            font-size: 20px;
            color: #4d4d4d;
            font-weight: 700;
            margin: 0;
            margin-bottom: 5px;
            text-align: right;
        }
        .item{
            text-align: right;
            width: 100%;
            height: auto;
            margin: 0;
            font-size: 15px;
        }
    }
}